# Feature Engineering

In [1]:
import numpy as np
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv("C:/Users/sega9/Documents/IBM Data Science/Capstone/data/vehicles.csv")

## Data Cleansing

In [3]:
# List all columns
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [4]:
# Drop unused columns
df.drop(columns=['id', 'vin', 'url', 'region_url', 'county', 'size' ,'image_url'], inplace=True)

In [5]:
# Convert year from string to float
df['year'] = df['year'].astype(str).astype(float)

In [6]:
# Drop columns with missing values
df = df.dropna()

In [7]:
# We only keep about 1/4 of the data
df.shape

(122451, 18)

In [8]:
# Check for missing values
df.isnull().sum()

region          0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
drive           0
type            0
paint_color     0
description     0
state           0
lat             0
long            0
dtype: int64

In [9]:
# Check top of price for outliers/bad data
df["price"].sort_values(ascending=False).head(10)

277985    69908990
317796    10000000
302879     3000000
60172      1900000
303499     1111111
288724     1111111
210035      600000
406218      347000
319786      334900
109832      300000
Name: price, dtype: int64

In [10]:
# Count rows with price above $150,000
df.loc[df['price'] >= 150000].shape

(27, 18)

In [11]:
# Drop rows with price too high
df = df.loc[df['price'] <= 150000]

In [12]:
# Count rows with price of 0
df.loc[df['price'] == 0].shape

(4497, 18)

In [13]:
# Drop rows with price of less than 100
df = df.loc[df['price'] >=300]

In [14]:
# Check top of odometer for outliers/bad data
df["odometer"].sort_values(ascending=False).head(10)

222779    10000000.0
64113     10000000.0
22981     10000000.0
291440     9999999.0
10174      9999999.0
20864      9999999.0
23030      9999999.0
13573      9999999.0
367267     9855500.0
372498     8148700.0
Name: odometer, dtype: float64

In [15]:
# Drop rows with odometer too high
df = df.loc[df['odometer'] <= 9999998]

In [16]:
df['description'] = df['description'].str.len()
df=df.rename(columns = {'description':'description_length'})

In [17]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,description_length,state,lat,long
3,mohave county,9000,2004.0,chevrolet,colorado ls,excellent,5 cylinders,gas,54000.0,clean,automatic,rwd,pickup,red,470,az,34.4783,-114.2710
7,maine,8500,2005.0,ford,mustang convertible,excellent,6 cylinders,gas,62800.0,clean,automatic,rwd,convertible,silver,718,me,44.2070,-69.7858
12,maine,2750,2006.0,chevrolet,silverado 2500hd ext cab,good,8 cylinders,gas,165000.0,clean,automatic,4wd,truck,white,280,me,43.2899,-70.8550
19,helena,24930,2017.0,subaru,outback 2.5i limited,excellent,4 cylinders,gas,32989.0,clean,automatic,4wd,SUV,grey,978,mt,45.6546,-110.5610
26,helena,3200,1998.0,volkswagen,bug,good,4 cylinders,gas,98186.0,clean,manual,rwd,coupe,blue,193,mt,46.7074,-111.9580

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117029 entries, 3 to 435846
Data columns (total 18 columns):
region                117029 non-null object
price                 117029 non-null int64
year                  117029 non-null float64
manufacturer          117029 non-null object
model                 117029 non-null object
condition             117029 non-null object
cylinders             117029 non-null object
fuel                  117029 non-null object
odometer              117029 non-null float64
title_status          117029 non-null object
transmission          117029 non-null object
drive                 117029 non-null object
type                  117029 non-null object
paint_color           117029 non-null object
description_length    117029 non-null int64
state                 117029 non-null object
lat                   117029 non-null float64
long                  117029 non-null float64
dtypes: float64(4), int64(2), object(12)
memory usage: 17.0+ MB

In [19]:
df.describe()

,price,year,odometer,description_length,lat,long
count,117029.000000,117029.000000,1.170290e+05,117029.000000,117029.000000,117029.000000
mean,12551.788027,2009.469704,1.097612e+05,1551.775201,38.565443,-92.688001
std,9884.688134,7.771789,9.899777e+04,2094.411781,5.613147,17.396771
min,300.000000,1900.000000,0.000000e+00,1.000000,-83.197100,-161.875000
25%,5500.000000,2006.000000,6.190100e+04,322.000000,34.892100,-104.776000
50%,9800.000000,2011.000000,1.039000e+05,722.000000,39.363200,-87.492100
75%,16900.000000,2014.000000,1.465000e+05,1986.000000,42.504800,-80.302400
max,150000.000000,2021.000000,9.855500e+06,25148.000000,67.002200,139.388000

In [20]:
df.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'description_length', 'state', 'lat',
       'long'],
      dtype='object')

## Export

In [21]:
#Export Cleaned data to CSV
df.to_csv("C:/Users/sega9/Documents/IBM Data Science/Capstone/data/vehicles_clean.csv")

## Feature Engineering

In [22]:
from IPython.display import Markdown, display

In [23]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [24]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [25]:
df_pd = df

In [26]:
df_pd.head(3)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,description_length,state,lat,long
3,mohave county,9000,2004.0,chevrolet,colorado ls,excellent,5 cylinders,gas,54000.0,clean,automatic,rwd,pickup,red,470,az,34.4783,-114.2710
7,maine,8500,2005.0,ford,mustang convertible,excellent,6 cylinders,gas,62800.0,clean,automatic,rwd,convertible,silver,718,me,44.2070,-69.7858
12,maine,2750,2006.0,chevrolet,silverado 2500hd ext cab,good,8 cylinders,gas,165000.0,clean,automatic,4wd,truck,white,280,me,43.2899,-70.8550

In [27]:
from pyspark.sql import SQLContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

df = sqlContext.createDataFrame(df_pd)

In [28]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer
from pyspark.ml import Pipeline

In [29]:
categorical_columns= ["region", "manufacturer", "model", "condition", "cylinders",
                      "fuel", "title_status", "transmission", "drive", "type", 
                      "paint_color", "state"]

# The index of string vlaues multiple columns
indexers = [
    StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c))
    for c in categorical_columns
]

# The encode of indexed values multiple columns
encoders = [OneHotEncoder(dropLast=False,inputCol=indexer.getOutputCol(),
            outputCol="{0}_encoded".format(indexer.getOutputCol())) 
    for indexer in indexers
]

# Vectorizing encoded values
assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders],outputCol="catFeatures")

# Build pipeline of Indexer, encoder, assebler
pipeline = Pipeline(stages=indexers + encoders+[assembler])
model=pipeline.fit(df)
transformed = model.transform(df)

In [30]:
df_catFeat = transformed[["price","year","odometer","description_length","catFeatures"]]
df_catFeat.columns

['price', 'year', 'odometer', 'description_length', 'catFeatures']

In [31]:
vectorAssembler = VectorAssembler(inputCols=['year', 'odometer', 'description_length'],outputCol="features")
normalizer = Normalizer(inputCol="features", outputCol="features_norm", p=1.0)

pipeline = Pipeline(stages=[vectorAssembler, normalizer])
model=pipeline.fit(df_catFeat)
df_feats = model.transform(df_catFeat)

In [32]:
df_feats = df_feats.drop("year").drop("odometer").drop("description_length").drop("features")

In [33]:
df_feats.columns

['price', 'catFeatures', 'features_norm']

In [34]:
vectorAssembler = VectorAssembler(inputCols=['catFeatures', 'features_norm'],outputCol="features")
df = vectorAssembler.transform(df_feats)
df = df.drop("features_norm").drop("catFeatures")
df.show(5)

+-----+--------------------+
|price|            features|
+-----+--------------------+
| 9000|(13246,[211,403,2...|
| 8500|(13246,[50,402,69...|
| 2750|(13246,[50,403,77...|
|24930|(13246,[218,412,7...|
| 3200|(13246,[218,413,4...|
+-----+--------------------+
only showing top 5 rows

In [35]:
df.printSchema()

root
 |-- price: long (nullable = true)
 |-- features: vector (nullable = true)

## Export

In [36]:
#Export Cleaned data to CSV
df.toPandas().to_csv("C:/Users/sega9/Documents/IBM Data Science/Capstone/data/vehicles_features.csv")